

/* 헤더 스타일 */
html,
body{
    height:100%;
}
body {
    display: flex;
    flex-direction: column;

    text-align: center;
    background-color: #fff;
    margin: 0;
  }
header {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    margin-left: 20px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
  }
  
  nav li {
    background-color: #ccc;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  nav li a {
    text-decoration: none;
    color: #000;
  }
  
  /* 버튼 클릭 시 색상 변경 */
  nav li:hover {
    background-color: #888;
  }
  
  /* 검색창 스타일 */
  .search-box {
    text-align: center;
    margin-top: 30px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FF0040;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* 메인 콘텐츠 스타일 */
  .main-content {
    padding: 20px;
    text-align: center;
    flex: 1;
  }
  
  .main-content h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .main-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  /* 버튼 클릭 효과 스타일 */
  .clicked {
    background-color: #f44336;
  }
  footer {
    background-color: #ccc;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
  }